@import "anims";
@import "global";
@import "top-panel";

.art-shadow {
    text-shadow: -2.5px 2.5px $art-color;
}

.games-shadow {
    text-shadow: -2.5px 2.5px $games-color;
}

// content

.articles-container {
    max-width: 900px;
}

h2 {
    @extend %greycliff;
    text-transform: lowercase;
    margin: 0;
    font-size: 28pt;
    text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
}

p {
    @extend %gotham;
    text-align: justify;

    font-size: 14pt;
    color: rgb(200, 200, 225);

    .bright {
        color: white;
    }
}

#bio {
    text-align: justify;
    width: 70%;
    
    p {
        @extend %greycliff;
        color: rgb(215, 215, 230);
        font-size: 12pt;

        .link {
            color: white;
            text-decoration: underline;
            
            img {
                height: 12pt;
                transform: translate(0, 2.5pt);
                margin-right: 2pt;
            }
        }

        .youtube {
            text-shadow: 1pt 1pt red;
        }

        .stickpage {
            text-shadow: 1pt 1pt rgba(100, 100, 110);
        }

        .stick-fighter {
            text-shadow: 1pt 1pt blue;
        }
    }

    .intro {
        @extend %gotham;
        font-size: 14pt;
    }

    .left {
        transform: translate(-5%);
    }

    .right {
        transform: translate(5%);
    }
}

#intro {
    text-align: justify;
    width: 70%;

    p {
        font-size: 18pt;
    }

    %shadowed {
        @extend %lufga;

        color: white;
        display: inline-block;
        transition: .15s;

        &:hover, &:focus {
            transform: translate(2px, -2px);
        }
    }

    .art-link {
        @extend %shadowed;
        text-shadow: -1.25px 1.25px $art-color-50;

        &:hover, &:focus {
            text-shadow: -1.5px 1.5px $art-color-75;
        }
    }

    .games-link {
        @extend %shadowed;
        text-shadow: -1.25px 1.25px $games-color-50;

        &:hover, &:focus {
            text-shadow: -1.5px 1.5px $games-color-75;
        }
    }

    .anims-link {
        @extend %shadowed;
        text-shadow: -1.25px 1.25px $anims-color-50;

        &:hover, &:focus {
            text-shadow: -1.5px 1.5px $anims-color-75;
        }
    }

    .music-link {
        @extend %shadowed;
        text-shadow: -1.25px 1.25px $music-color-50;

        &:hover, &:focus {
            text-shadow: -1.5px 1.5px $music-color-75;
        }
    }
}

.panel-line {
    @extend .flex;
    @extend .line;
    margin: 10px 0;

    .vertical-spacer {
        min-width: 20px;
    }
}

%panel {
    display: inline-block;
    text-align: center;
    background-color: rgba(235, 235, 255, 0.3);
    
    margin: 10px 0;
    padding: 10px 20px;
    transition: .5s;

    br {
        margin: 15px 0;
    }

    h2 .shadow {
        color: white;
    }

    .featured {
        @extend .flex;
        @extend %gotham;
        align-items: center;
        justify-content: center;
        position: absolute;
        overflow: hidden;
    
        font-size: 0;
        height: 5px;
        width: 150px;
    
        padding: 0;
        margin-top: -15px;
        color: $feat-color-accent;
        background-color: $feat-color;
    
        transition: .3s;

        .glide {
            position: absolute;
            width: 50px;
            height: 100%;
            transform: translate(-200%, 0) skew(-20deg);
            background-color: rgba(255, 255, 255, 1);

            transition: none;
        }
    }

    &:hover .featured {
        padding: 10px;
        margin-top: -40px;   
        font-size: 20px;
        height: 30px;

        .glide {
            transform: translate(220%, 0) skew(-20deg);
            background-color: rgba(255, 255, 255, 0.7);
            transition: .5s;
        }
    }

    .follow-box {
        @extend .center;
        color: $feat-color;  

        .links {
            @extend .center;
            @extend .flex;

            border-radius: 10px;
            border: dotted $feat-color 4px;
            margin: 10px 0;

            .link-box {
                @extend .center;
                width: 50px;
                height: 50px;
                margin: 5px 5px 25px 5px;
                font-size: 10px;

                img {
                    margin: 5px 0;
                    width: 40px;
                    transition: .3s;
            
                    &:hover {
                        margin: 2.5px 0;
                        width: 47.5px;    
                    }
                }

                a:focus img {
                    margin: 2.5px 0;
                    width: 47.5px;    
                }
            }
        }        
    }
}

%article {
    @extend %panel;
    @extend .flex;

    text-align: left;
    width: 100%;
    display: inline-block;

    a {
        text-decoration: underline;
    }

    .date {
        @extend .thin;
        color: rgba(255, 255, 255, 0.5);
    }

    .read-more {
        @extend .flex;
        @extend %light;
        margin: 15px auto;
        color: rgba(255, 255, 255, 0.5);

        span {
            text-transform: uppercase;
            text-align: center;
            transition: .5s;

            &:hover {
                color: white;
                padding: 0 25px;
                letter-spacing: 2px;
                cursor: pointer;
                transition: 1s;
            }
        } 

        .spacer {
            padding: 0 25px;

            .stroke {
                height: 50%; 
                border-bottom: solid rgba(255, 255, 255, 0.6) 1px;
            }
        }
    }

    .thumbnail, .thumbnail img {
        width: 100%;
        border-radius: 5px;
        margin: 15px 0;
    }

    .article-content {
        padding: 0 20px;
    }
}

.game-article {
    @extend %article;

    p a {
        transition: .5s;

        &:hover, &:focus {
            color: $games-color;
        }
    }

    .shadow {
        @extend .games-shadow;
    }

    &:hover {
        background-color: $games-color-focus;
    }
}

.art-article {
    @extend %article;

    .shadow {
        @extend .art-shadow;
    }

    &:hover {
        background-color: $art-color-focus;
    }
}

.art-panel {
    @extend %panel;

    .shadow {
        @extend .art-shadow;
    }

    &:hover {
        background-color: $art-color-focus;
    }
}

#graphism-panel {
    @extend .art-panel;
    min-width: 60%; 
    width: 60%;
}

.tip {
    @extend %panel;
    border-radius: 7.5px;
    border: dashed 5px rgb(50, 250, 225);
    background: repeating-linear-gradient(
        -60deg,
        rgba(0, 65, 65, 1),
        rgba(0, 65, 65, 1) 20px,
        rgba(0, 100, 100, 1) 20px,
        rgba(0, 100, 100, 1) 40px
    );

    p {
        font-size: 12pt;
        font-weight: lighter;
        color: white;
        text-shadow: 0 2px rgba(0, 0, 0, 0.5);
    }

    tt {
        font-weight: bold;
        font-variant: small-caps;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        padding: 0 5px;
        text-shadow: none;
    }

    img {
        opacity: 0.5;
        margin: 0 0 20px 0;
    }

    &:hover img {
        @extend .press;
    }
}

$btn-size: 50px;

%button {
    @extend %quicksand;
    
    width : 150px;
    height: $btn-size;
    margin : 20px 10px;
    padding: 5px 0;

    overflow: hidden;
    text-align : center;
    cursor : pointer;
    
    color: white;
    font-size: $btn-size - 20px;
    border-radius: 3px;
    box-shadow: 0 5px 7.5px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1.5px rgba(0, 0, 0, 0.25);

    transition : .2s;

    span {
        display: inline-block;
        transition : .3s;
    }
    
    .inner-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position : relative;
        width : $btn-size;
        height: $btn-size + 20px;
        
        left : -$btn-size;
        top: -$btn-size;
        transition : .3s;

        img {
            height: 40%;
        }
    }

    &:hover {
        span { 
            margin-left : $btn-size;
        }

        .inner-btn {
            left: 0;
        }
    }
}

%dl-button {
    @extend %quicksand;
    
    width: $btn-size;
    height: $btn-size;
    margin: 20px 10px;

    overflow: hidden;
    cursor : pointer;
    
    color: white;
    font-size: $btn-size - 20px;
    border-radius: $btn-size / 2;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transition : .5s;

    .dl-icon {
        position: absolute;
        margin: $btn-size / 4 0 0 $btn-size / 4;
        height: $btn-size / 2;
        border-bottom: solid white 0;
        transition: .3s;
    }
    
    .inner-btn {
        @extend .flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: $btn-size;
        width: $btn-size;
        
        top: -$btn-size * 1.5;
        border-bottom: solid white $btn-size;

        img {
            height: 50%;
        }
    }

    &:hover {
        transform: scale(1.25);

        .dl-icon {
            margin-top: $btn-size / 4 - 4px;
            border-bottom: solid white 4px;
        }
    }
}

 
.game-button {
    @extend %button;
    background-color: $games-color;

    .inner-btn {
        background : $games-color-accent;
    }
}

.art-button {
    @extend %button;
    background-color: $art-color;

    .inner-btn {
        background : $art-color-accent;
    }
}

.dl-game-button {
    @extend %dl-button;
    background-color: $games-color;

    .inner-btn {
        background : rgb(50, 225, 200);
    }
}

.dl-anim {
    @extend .dl-game-button;

    .dl-icon {
        @extend .flex;
        position: absolute;
        animation: hide-icon 2.5s ease; 
        animation-fill-mode: forwards; 
    }

    .inner-btn {
        animation: tick-dl .5s ease; 
        animation-fill-mode: forwards; 
        animation-delay: 2s;
    }

    &:hover {
        transform: none;
    }

    @keyframes tick-dl {
        100% {
            border-bottom: solid white 0;
            top: 0;
        }
    }

    @keyframes hide-icon {
        75% {
            margin-top: $btn-size / 16;
            opacity: 1;
        }
        100% {
            margin-top: $btn-size;
            opacity: 0;
        }
    }
}

a:focus {
    %button {
        span {
            margin-left : $btn-size;
        }

        .inner-btn{
            left: 0;
        }
    }
}

%carousel {
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;


    figure {
        height: inherit;
    
        img {
            height: inherit;
            object-fit: cover
        }
    }
}

#art-carousel {
    @extend %carousel;
    width: 100%;
    height: 250px;
}

#ministick-carousel {
    @extend %carousel;
    width: 100%;
}

#ministick2-carousel {
    @extend %carousel;
    width: 100%;
}

.button {
  overflow: hidden;
  display: inline-block;
  font-family: "Raleway";
  font-size: 28pt;
  
  height: 100px;
  width: 250px;
    
  border-radius: 5px;
  
  background-color: rgb(150, 125, 250);
  transition: 0.3s;
  
  span {
    position: absolute;
  }
  
  .light {
    position: absolute;
    height: inherit;
    width: 50px;
    
    background-color: rgba(255, 255, 255, 1);
    transform: translate(-200%) skew(-20deg);
  }
  
  &:hover {
    overflow: hidden;
    transform: scale(1.1);
    
    .light {
      background-color: rgba(255, 255, 255, .5);
      
      transform: translate(250px) skew(-20deg);
      transition: .7s;
    }
  }
}