@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}
@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}
.new-stamp, #signature, p, body {
  font-family: "Gotham", sans-serif;
}

#caution p, #label-container-music, #label-container-anims, #label-container-games, #label-container-art {
  font-family: "Comfortaa", sans-serif;
}

#caution h3, h2 {
  font-family: "Greycliff", sans-serif;
}

.text-content .music-link, .text-content .anims-link, .text-content .games-link, .text-content .art-link, .title-box, #dot-music, #dot-anims, #dot-games, #dot-art, #dot, #osef {
  font-family: "Lufga", sans-serif;
}

.button, #play-ministick {
  font-family: "Quicksand", sans-serif;
}

.thin, #copyright, .article .date {
  font-family: "GothamThin", sans-serif;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  min-height: 100%;
  background: radial-gradient(#0a0a0d, #2b282b);
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.flex, .new-stamp, #play-ministick, #logo-container, #sub-panel, #top-panel {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.border, object, applet {
  border: solid 2px white;
}

.line, #footer, .title-box, #sub-panel, #top-panel {
  width: 100%;
}

#top-panel {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #3f3c44;
  height: 85px;
  border-bottom: solid #35323a 7.5px;
  z-index: 10;
}

#sub-panel {
  position: fixed;
  top: 72.5px;
  z-index: 11;
}

#logo-container {
  margin-top: -5px;
  transition: 0.2s;
}
#logo-container #osef, #logo-container #dot {
  transition: 0.6s;
}
#logo-container:hover {
  transform: translate(0px, -5px);
}
#logo-container:hover #osef, #logo-container:hover #dot {
  font-size: 50px;
}

#dot-music, #dot-anims, #dot-games, #dot-art, #dot, #osef {
  letter-spacing: 2.5px;
  filter: drop-shadow(-2px 6px 1px rgba(0, 0, 0, 0.25));
  font-size: 45px;
  margin-top: 20px;
}

#osef {
  color: white;
  background: linear-gradient(white, white, #d7c8fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dot {
  color: #af96fa;
  background: linear-gradient(to bottom right, #af7dfa, #fa55a0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dot-art {
  color: #fa197d;
}

#dot-games {
  color: #af96fa;
}

#dot-anims {
  color: #96fae1;
}

#dot-music {
  color: #c8fa64;
}

.icon {
  height: 37.5px;
}

#icon-container-music, #icon-container-anims, #icon-container-games, #icon-container-art {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 85px;
  padding: 21.25px;
  transition: 0.2s;
}
#icon-container-music img, #icon-container-anims img, #icon-container-games img, #icon-container-art img {
  transition: 0.4s;
}
#icon-container-music:hover img, #icon-container-anims:hover img, #icon-container-games:hover img, #icon-container-art:hover img {
  transform: translate(0px, -5px);
}

#a:hover + #b {
  background-color: #fff;
}

#icon-container-art {
  border-bottom: solid #fa197d 0px;
  margin-right: 10px;
}
#icon-container-art:hover {
  background-color: rgba(250, 25, 125, 0.3);
  border-bottom: solid #fa197d 5px;
}
#icon-container-art:hover ~ #sub-panel #label-container-art {
  transform: translate(0px, 5px);
  color: #fa197d;
}

#icon-container-games {
  border-bottom: solid #af96fa 0px;
}
#icon-container-games:hover {
  background-color: rgba(175, 150, 250, 0.3);
  border-bottom: solid #af96fa 5px;
}
#icon-container-games:hover ~ #sub-panel #label-container-games {
  transform: translate(0px, 5px);
  color: #af96fa;
}

#icon-container-anims {
  border-bottom: solid #96fae1 0px;
}
#icon-container-anims:hover {
  background-color: rgba(150, 250, 225, 0.3);
  border-bottom: solid #96fae1 5px;
}
#icon-container-anims:hover ~ #sub-panel #label-container-anims {
  transform: translate(0px, 5px);
  color: #96fae1;
}

#icon-container-music {
  border-bottom: solid #c8fa64 0px;
  margin-left: 10px;
}
#icon-container-music:hover {
  background-color: rgba(200, 250, 100, 0.3);
  border-bottom: solid #c8fa64 5px;
}
#icon-container-music:hover ~ #sub-panel #label-container-music {
  transform: translate(0px, 5px);
  color: #c8fa64;
}

#label-container-music, #label-container-anims, #label-container-games, #label-container-art {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  width: 85px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  transition: 0.3s;
  z-index: 11;
}

#label-container-art {
  margin-right: 10px;
}

#label-container-music {
  margin-left: 10px;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}
@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}
.new-stamp, #signature, p, body {
  font-family: "Gotham", sans-serif;
}

#caution p, #label-container-art, #label-container-games, #label-container-anims, #label-container-music {
  font-family: "Comfortaa", sans-serif;
}

#caution h3, h2 {
  font-family: "Greycliff", sans-serif;
}

.text-content .music-link, .text-content .anims-link, .text-content .games-link, .text-content .art-link, .title-box, #osef, #dot, #dot-art, #dot-games, #dot-anims, #dot-music {
  font-family: "Lufga", sans-serif;
}

.button, #play-ministick {
  font-family: "Quicksand", sans-serif;
}

.thin, #copyright, .article .date {
  font-family: "GothamThin", sans-serif;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  min-height: 100%;
  background: radial-gradient(#0a0a0d, #2b282b);
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.flex, .new-stamp, #play-ministick, #top-panel, #sub-panel, #logo-container {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.border, object, applet {
  border: solid 2px white;
}

.line, #footer, .title-box, #top-panel, #sub-panel {
  width: 100%;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}
@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}
.new-stamp, #signature, p, body {
  font-family: "Gotham", sans-serif;
}

#caution p, #label-container-art, #label-container-games, #label-container-anims, #label-container-music {
  font-family: "Comfortaa", sans-serif;
}

#caution h3, h2 {
  font-family: "Greycliff", sans-serif;
}

.text-content .music-link, .text-content .anims-link, .text-content .games-link, .text-content .art-link, .title-box, #osef, #dot, #dot-art, #dot-games, #dot-anims, #dot-music {
  font-family: "Lufga", sans-serif;
}

.button, #play-ministick {
  font-family: "Quicksand", sans-serif;
}

.thin, #copyright, .article .date {
  font-family: "GothamThin", sans-serif;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  min-height: 100%;
  background: radial-gradient(#0a0a0d, #2b282b);
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.flex, .new-stamp, #play-ministick, #top-panel, #sub-panel, #logo-container {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.border, object, applet {
  border: solid 2px white;
}

.line, #footer, .title-box, #top-panel, #sub-panel {
  width: 100%;
}

#top-panel {
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: #3f3c44;
  height: 85px;
  border-bottom: solid #35323a 7.5px;
  z-index: 10;
}

#sub-panel {
  position: fixed;
  top: 72.5px;
  z-index: 11;
}

#logo-container {
  margin-top: -5px;
  transition: 0.2s;
}
#logo-container #osef, #logo-container #dot {
  transition: 0.6s;
}
#logo-container:hover {
  transform: translate(0px, -5px);
}
#logo-container:hover #osef, #logo-container:hover #dot {
  font-size: 50px;
}

#osef, #dot, #dot-art, #dot-games, #dot-anims, #dot-music {
  letter-spacing: 2.5px;
  filter: drop-shadow(-2px 6px 1px rgba(0, 0, 0, 0.25));
  font-size: 45px;
  margin-top: 20px;
}

#osef {
  color: white;
  background: linear-gradient(white, white, #d7c8fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dot {
  color: #af96fa;
  background: linear-gradient(to bottom right, #af7dfa, #fa55a0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dot-art {
  color: #fa197d;
}

#dot-games {
  color: #af96fa;
}

#dot-anims {
  color: #96fae1;
}

#dot-music {
  color: #c8fa64;
}

.icon {
  height: 37.5px;
}

#icon-container-art, #icon-container-games, #icon-container-anims, #icon-container-music {
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  width: 85px;
  padding: 21.25px;
  transition: 0.2s;
}
#icon-container-art img, #icon-container-games img, #icon-container-anims img, #icon-container-music img {
  transition: 0.4s;
}
#icon-container-art:hover img, #icon-container-games:hover img, #icon-container-anims:hover img, #icon-container-music:hover img {
  transform: translate(0px, -5px);
}

#a:hover + #b {
  background-color: #fff;
}

#icon-container-art {
  border-bottom: solid #fa197d 0px;
  margin-right: 10px;
}
#icon-container-art:hover {
  background-color: rgba(250, 25, 125, 0.3);
  border-bottom: solid #fa197d 5px;
}
#icon-container-art:hover ~ #sub-panel #label-container-art {
  transform: translate(0px, 5px);
  color: #fa197d;
}

#icon-container-games {
  border-bottom: solid #af96fa 0px;
}
#icon-container-games:hover {
  background-color: rgba(175, 150, 250, 0.3);
  border-bottom: solid #af96fa 5px;
}
#icon-container-games:hover ~ #sub-panel #label-container-games {
  transform: translate(0px, 5px);
  color: #af96fa;
}

#icon-container-anims {
  border-bottom: solid #96fae1 0px;
}
#icon-container-anims:hover {
  background-color: rgba(150, 250, 225, 0.3);
  border-bottom: solid #96fae1 5px;
}
#icon-container-anims:hover ~ #sub-panel #label-container-anims {
  transform: translate(0px, 5px);
  color: #96fae1;
}

#icon-container-music {
  border-bottom: solid #c8fa64 0px;
  margin-left: 10px;
}
#icon-container-music:hover {
  background-color: rgba(200, 250, 100, 0.3);
  border-bottom: solid #c8fa64 5px;
}
#icon-container-music:hover ~ #sub-panel #label-container-music {
  transform: translate(0px, 5px);
  color: #c8fa64;
}

#label-container-art, #label-container-games, #label-container-anims, #label-container-music {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  width: 85px;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  transition: 0.3s;
  z-index: 11;
}

#label-container-art {
  margin-right: 10px;
}

#label-container-music {
  margin-left: 10px;
}

.title-box {
  height: 48pt;
  margin-top: 95px;
  padding-left: 5%;
}
.title-box:hover .title-shadow-home {
  background: -webkit-linear-gradient(left, #af7dfa, #fa55a0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin: 7.5px 0px 0px -5px;
}

.title, .title-shadow-music, .title-shadow-anims, .title-shadow-games, .title-shadow-art, .title-shadow-home {
  position: absolute;
  font-size: 48pt;
  z-index: 1;
}

.title-shadow-music, .title-shadow-anims, .title-shadow-games, .title-shadow-art, .title-shadow-home {
  margin: 5px 0px 0px -2.5px;
}

.title-shadow-home {
  background: -webkit-linear-gradient(left, #a0a0af, #af7dfa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: ease-out 0.5s;
}

.title-shadow-art {
  background: -webkit-linear-gradient(left, rgba(250, 25, 125, 0.5), #fa197d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title-shadow-games {
  background: -webkit-linear-gradient(left, rgba(175, 150, 250, 0.5), #af96fa);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title-shadow-anims {
  background: -webkit-linear-gradient(left, rgba(150, 250, 225, 0.5), rgba(150, 250, 225, 0.75));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.title-shadow-music {
  background: -webkit-linear-gradient(left, rgba(200, 250, 100, 0.5), rgba(200, 250, 100, 0.75));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.text-content {
  text-align: justify;
  font-size: 16pt;
  width: 80%;
}
.text-content .music-link, .text-content .anims-link, .text-content .games-link, .text-content .art-link {
  color: white;
}
.text-content .music-link, .text-content .anims-link, .text-content .games-link, .text-content .art-link {
  display: inline-block;
}
.text-content .art-link {
  text-shadow: -1.25px 1.25px rgba(250, 25, 125, 0.5);
  transition: 0.2s;
}
.text-content .art-link:hover {
  transform: translate(2px, -2px);
  text-shadow: -1.5px 1.5px rgba(250, 25, 125, 0.75);
}
.text-content .games-link {
  text-shadow: -1.25px 1.25px rgba(175, 150, 250, 0.5);
  transition: 0.2s;
}
.text-content .games-link:hover {
  transform: translate(2px, -2px);
  text-shadow: -1.5px 1.5px rgba(175, 150, 250, 0.75);
}
.text-content .anims-link {
  text-shadow: -1.25px 1.25px rgba(150, 250, 225, 0.5);
  transition: 0.2s;
}
.text-content .anims-link:hover {
  transform: translate(2px, -2px);
  text-shadow: -1.5px 1.5px rgba(150, 250, 225, 0.75);
}
.text-content .music-link {
  text-shadow: -1.25px 1.25px rgba(200, 250, 100, 0.5);
  transition: 0.2s;
}
.text-content .music-link:hover {
  transform: translate(2px, -2px);
  text-shadow: -1.5px 1.5px rgba(200, 250, 100, 0.75);
}

.article {
  margin: 50px 0;
  padding: 10px 0;
  transition: 0.5s;
  background-color: rgba(235, 235, 255, 0.2);
}
.article .date {
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  bottom: 16pt;
  right: 10px;
}
.article:hover {
  margin-top: -5px;
  padding: 15px 0;
}

#new-game:hover {
  background-color: rgba(175, 150, 250, 0.3);
}

.bright {
  color: #e1e1eb;
}

h2 {
  margin: 0;
  font-size: 28pt;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.4);
}

p {
  font-size: 14pt;
  color: #a0a0b4;
}

.games-shadow {
  text-shadow: -2.5px 2.5px rgba(175, 150, 250, 0.75);
}

applet {
  width: 480px;
  height: 800px;
}

object {
  width: 480px;
  height: 800px;
}

#play-ministick {
  align-items: center;
  justify-content: center;
  background-color: #af96fa;
  text-shadow: 0 1.5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 7.5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 16pt;
  width: 100px;
  transition: 0.3s;
}
#play-ministick:hover {
  transform: scale(1.1);
  box-shadow: 2.5px 7.5px 10px rgba(0, 0, 0, 0.2);
}

.button {
  margin: 20px auto;
  width: 150px;
  height: 50px;
  padding: 5px 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 30px;
  border-radius: 3px;
  background-color: #af96fa;
  box-shadow: 0 5px 7.5px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1.5px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}
.button span {
  display: inline-block;
  transition: 0.3s;
}
.button:hover span {
  margin-left: 50px;
}
.button:hover .inner-btn {
  left: 0;
}
.button .inner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 70px;
  background: #9664e1;
  left: -50px;
  top: -50px;
  transition: 0.3s;
}

#caution {
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
#caution .crossed-line, #caution p {
  border: 10px solid rgba(225, 255, 0, 0.7);
  border-width: 0 0 10px 0;
  border-image: repeating-linear-gradient(-75deg, transparent, transparent 5px, rgba(225, 255, 0, 0.7) 6px, rgba(225, 255, 0, 0.7) 10px) 25 0;
}
#caution h2 {
  background-color: rgba(225, 250, 100, 0.1);
  font-size: 48pt;
  text-shadow: -5px 5px rgba(0, 0, 0, 0.4);
}
#caution h3 {
  font-size: 16pt;
  background-color: rgba(225, 250, 100, 0.1);
  margin: 0;
  padding-bottom: 10px;
  text-shadow: -2.5px 2.5px rgba(0, 0, 0, 0.2);
}
#caution .content {
  background-color: rgba(225, 250, 100, 0.25);
}
#caution p {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 30px;
}

#carousel {
  height: 150px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}
@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}
.new-stamp, #signature, body, p {
  font-family: "Gotham", sans-serif;
}

#label-container-art, #label-container-games, #label-container-anims, #label-container-music, #caution p {
  font-family: "Comfortaa", sans-serif;
}

h2, #caution h3 {
  font-family: "Greycliff", sans-serif;
}

#osef, #dot, #dot-art, #dot-games, #dot-anims, #dot-music, .title-box, .text-content .art-link, .text-content .games-link, .text-content .anims-link, .text-content .music-link {
  font-family: "Lufga", sans-serif;
}

#play-ministick, .button {
  font-family: "Quicksand", sans-serif;
}

.thin, #copyright, .article .date {
  font-family: "GothamThin", sans-serif;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  min-height: 100%;
  background: radial-gradient(#0a0a0d, #2b282b);
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.flex, .new-stamp, #top-panel, #sub-panel, #logo-container, #play-ministick {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.border, applet, object {
  border: solid 2px white;
}

.line, #footer, #top-panel, #sub-panel, .title-box {
  width: 100%;
}

#footer {
  overflow: hidden;
  position: absolute;
  background-color: #35323a;
  bottom: -95px;
  padding: 10px 0px;
}
#footer div {
  padding: 0px 5px;
}

.link-box {
  width: 50px;
  height: 50px;
  margin: 0px 2.5px;
}

.link {
  height: 40px;
  cursor: pointer;
  transition: ease-out 0.2s;
  margin: 2.5px;
}
.link:hover {
  margin: 0px;
  height: 45px;
}

#signature {
  font-size: 14pt;
  color: #9996a0;
  text-shadow: 0px -2px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}
#signature:hover {
  color: #c8c8d2;
}

#copytip {
  visibility: hidden;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border-radius: 7.5px;
  padding: 5px 10px;
  transition: 0.25s;
  /* Position the tooltip */
  position: fixed;
  bottom: 0;
  margin-left: 55px;
}

#discord-link:hover ~ #copytip {
  visibility: visible;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  bottom: 55px;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("assets/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/Gotham.ttf") format("truetype");
}
@font-face {
  font-family: "GothamThin";
  src: url("assets/fonts/Gotham-Thin.otf") format("opentype");
}
@font-face {
  font-family: "Greycliff";
  src: url("assets/fonts/Greycliff.ttf") format("truetype");
}
@font-face {
  font-family: "Lufga";
  src: url("assets/fonts/LufgaBold.otf") format("opentype");
}
.new-stamp, body, p, #signature {
  font-family: "Gotham", sans-serif;
}

#label-container-art, #label-container-games, #label-container-anims, #label-container-music, #caution p {
  font-family: "Comfortaa", sans-serif;
}

h2, #caution h3 {
  font-family: "Greycliff", sans-serif;
}

#osef, #dot, #dot-art, #dot-games, #dot-anims, #dot-music, .title-box, .text-content .art-link, .text-content .games-link, .text-content .anims-link, .text-content .music-link {
  font-family: "Lufga", sans-serif;
}

#play-ministick, .button {
  font-family: "Quicksand", sans-serif;
}

.thin, .article .date, #copyright {
  font-family: "GothamThin", sans-serif;
}

html {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  min-height: 100%;
  background: radial-gradient(#0a0a0d, #2b282b);
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.flex, .new-stamp, #top-panel, #sub-panel, #logo-container, #play-ministick {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

.border, applet, object {
  border: solid 2px white;
}

.line, #top-panel, #sub-panel, .title-box, #footer {
  width: 100%;
}

svg {
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
}

.wave {
  margin: 32pt 0 0 225px;
}

.wheel {
  margin-left: 110px;
}

#wave {
  stroke-dasharray: 0 16 101 16;
  animation: moveTheWave 5000ms linear infinite;
}

@keyframes moveTheWave {
  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }
  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }
}
.new-stamp {
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -10px 0 0 -50px;
}
.new-stamp .spin, .new-stamp .spin2 {
  position: absolute;
  background-color: #af96fa;
  height: 40px;
  width: 40px;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.new-stamp .spin2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation-name: spin2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.new-stamp span {
  position: absolute;
  vertical-align: middle;
  z-index: 2;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

/*# sourceMappingURL=styl.css.map */
